:root{
    --primary-color:#e0c9cb;
    --text-color:#4e4e4e;
    --price-tag-color:#c3a1a0;
    --components-color:#cda9ac;
    --sub-heading-color:#ce9091;
    --secondary-color:#f5f5f5;
}

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
}
